.navbar{
    background-color: map-get($paletaColores, color3);

    &-brand{
        font-family: $fuente-principal;
        color: map-get($paletaColores , color1) !important;
        font-size: map-get($tamanioTipografia , iconosNavbar);
        transition: transform 0.7s;
        text-decoration: underline;
        text-decoration-color: map-get($paletaColores, color2); 

            &:hover{
            transform: scale(1.2);
            } 
    }

    &toggler{
        border-color: $color-fuente1 !important;
    }

    li{
        transition: transform 0.7s;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.nav-link{
    font-family: $fuente-principal;
    color: map-get($paletaColores, color2) !important;
    font-size: map-get($tamanioTipografia, iconosNavbar);
    text-decoration: underline;
    text-decoration-color: $color-fuente1;
}

